.section-title_tagline{
    color: #E8604C;
    font-size: 20px;
    font-family: initial
}
.section-title_main{
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}
.first{
    position: absolute; 
    left: 0px;
     top: 0px;
}
.second{
    position: absolute; 
    left: 295px;
     top: 0px;
}
.third{
    position: absolute; 
    left: 885px;
     top: 0px;
}
.fourth{
    position: absolute;
     left: 0px;
      top: 295px;
}
.fifth{
    position: absolute; 
    left: 590px;
     top: 295px;
}