.contact{
    background-color: black;
    position: relative;
    opacity:.9;
    background-position: center center;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 180px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}